/*Estilos Generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}


/*Estilos de texto*/
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 10px 0;
}


/*Seccion oscura*/
.dark-section {
    color: #f5f6f7;
    background-color: #1b1b32;
}


/*Seccion clara*/
.clear-section {
    color: #1b1b32;
    background-color: #f5f6f7
}


/*-----------------------*/
/*Barra de navegacion*/
.navbar {
    padding: 1rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}


/*-----------------------*/
/*Seccion hero*/
.hero {
    text-align: center;
    min-height: 450px;
    margin-top: 40px;
    background-color: white;
}

.hero-image-developer {
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
}

.hero-lower {
    margin-top: 40px;
}


/*-----------------------*/
/*Sobre mi*/
.about-me {
    height: 450px;
    padding: 10px;
}

.about-me .container {
    max-width: 800px;
    text-align: center;
}

.white-text {
    color: #f5f6f7;
}

.text-section {
    font-size: 1rem;
}


/*-----------------------*/
/*Experiencia*/
.experience {
    padding: 40px 40px 40px 40px;
}

.experience .column {
    padding: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #8080804d;
    transition: all 0.5s ease-in;
}

.experience .column:hover {
    color: #f5f6f7;
    background-color: #1b1b32;
}

.experience i {
    padding: 8px 19px;
    border-radius: 30%;
    font-size: 2rem;
    color: #7ade30;
    background-color: #0a0a23;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experience .row div {
    height: 350px;
}

.badge-container {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}


/*-----------------------*/
/*Proyectos */
.recent-projects {
    padding: 20px;
}

.recent-projects img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}

.container-projects {
    padding: 20px;
    margin: 20px;
}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
}

.projects:hover img {
    opacity: 0.2;
}

.overlay {
    text-align: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    
}

.overlay p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay i {
    font-size: 60px;
    margin: 25px;
    color: #0a0a23;
}

.projects:hover .overlay {
    opacity: 1;
}

.overlay .container-icons {
    display: flex;
    justify-content: center;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}


/*-----------------------*/
/*Contacto*/
.contact .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

}

.contact .rectangle {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #f5f6f7;

}

.contact .row {
    width: 100%;
    display: flex;
    align-items: center;

}

.contact .description {
    color: #f5f6f7;

}

.contact button {
    color: #f5f6f7;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #f5f6f7;
    padding: 1.2em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.52 ease-in-out;
}

.contact button:hover {
    background-color: white;
    color: black;
}

.contact button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}


/*-----------------------*/
/*Pie de Pagina*/
footer {
    min-height: 500px;
}

.footer-icon {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.social-media-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.social-media-icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-media-icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social-media-icons a:hover i {
    color: black;
}

.Copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

.contact button:hover i {
    color: black;
}


/*MODAL*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal img {
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/*-----------------------*/
/*Adaptable*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-lower-image {
        max-width: 500px;
    }
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}
