/* Estilos Generales | General Styles */
body {
    background-color: #72a24c;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}


/* Estilos para la Tabla | Table Styles */
#data-table {
    width: calc(100% - 20%);
    margin: auto;
    margin-top: 40px;
}

#data-table th {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 8px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

#user-data-body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    
}


/* Estilos para el botón de eliminar | Delete Button Styles */
.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3c3c3c;
    color: white;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #9e2a2b;
}


/*Pie de pagina | Footer*/
.dark-section {
    color: #f5f6f7;
    background-color: #1b1b32;
}

footer {
    min-height: 400px;
}

.footer-page {
    margin-top: 200px;
}

.footer-icon {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

.social-media-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    border: 2px solid white;
}

.social-media-icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social-media-icons a:hover i {
    color: black;
}

.Copyright {
    font-size: 15px;
    padding: 20px;
    color: #aeaeae;
}

/* Estilos para pantallas más pequeñas | Styles for smaller screens */
@media screen and (max-width: 638px) {

    h1 {
        font-size: 2rem;
        padding: 20px;
    }

    #dataTable {
        width: 80%;
        overflow-x: auto;
    }

    #dataTable th {
        padding: 4px;
    }

    #userDataBody td {
        padding: 4px;
    }

    .deleteButton {
        padding: 2px 4px;
        font-size: 10px;
    }
}